[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-igraph = "*"
gensim = "==3.8.3"
sklearn = "*"
ipykernel = "*"
pandas = "*"
pyldavis = "*"
matplotlib = "*"
seaborn = "*"
tensorboard-logger = "*"
protobuf = "==3.20.0"
dgl = "*"
tensorboard = "*"
yellowbrick = "*"
pyheter-gat = {editable = true, path = "."}
numpy = "==1.23"
bertopic = "*"
sentence-transformers = "*"
tensorflow = "*"
bitermplus = "*"
emoji = "*"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.8"
